{{ include('./header.html.twig') }}
<h1>Highscore</h1><br>
<a class="startgame" href="allscore">Highest</a>
<a class="startgame" href="orderbylowest">Lowest</a>
<a class="startgame" href="orderbytime">Time</a><br><br><br>
<p>
    <table>
        <tr>
            <th>Plats</th>
            <th>Namn</th>
            <th>Total poäng</th>
            <th>Total tid i sekunder</th>
        </tr>
        {% for eachscore in highscore %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ eachscore.getName() }}</td>
                <td>{{ eachscore.getScore() }}</td>
                <td>{{ eachscore.getTime() }}</td>
            </tr>
        {% endfor %}
    </table>
</p>

{{ include('/footer.html.twig') }}
