{{ include('./header.html.twig') }}
<h1>Highscore</h1>
<p>
    <table>
        <tr>
            <th>Plats</th>
            <th>Namn</th>
            <th>Total poäng</th>
            <th>Total tid i sekunder</th>
        </tr>
        {% for eachscore in highscore %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ eachscore.getName() }}</td>
                <td>{{ eachscore.getScore() }}</td>
                <td>{{ eachscore.getTime() }}</td>
            </tr>
        {% endfor %}
    </table>
</p>
<a href="otherorder">test</a>
<form action="allscoretest" method="post">
    <input class="startgame" type="submit" value="Other order" name="sekunder">
</form>

{{ include('/footer.html.twig') }}
